.form-control {
    padding: 0 0 0 @component-padding/2;
    .btn;
}

input {
    .btn;
}

select {
    option {
        background: @base-background-color;
        color: @text-color;
        box-shadow: inset 20px 20px @base-background-color;
        &:checked {
            color: @text-color-selected;
        }
    }
}
