atom-pane {
        border-left: 1px solid @base-border-color;
        border-bottom: 1px solid @base-border-color;
    }
    .panel-heading {
        border-bottom: 1px solid @panel-heading-border-color;
        background-color: @panel-heading-background-color;
    }
    .inset-panel {
        background-color: @inset-panel-background-color;
        .panel-heading {
            background-color: lighten(@inset-panel-background-color, 4%);
    }
}

atom-panel.modal.overlay,
atom-notification {
    border: 1px solid @overlay-border-color;
    border-radius: @component-border-radius;
    background-color: lighten(@base-background-color, 1%);
    box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
    &.from-top {
        top: 10%;
    }
    .select-list.command-palette .list-group {
        overflow-x: hidden;
    }
}

.php-debug-tab .panel-heading {
    font-size: .9 * @font-size;
    padding: .2 * @font-size;
    border-radius: @component-border-radius;
    .close-icon {
        height: .9 * @font-size;
        line-height: .9 * @font-size;
        top: 0;
        padding: 0 .2 * @font-size;
        &:hover {
            transform: none;
            color: @text-color-highlight;
        }
    }
}

.settings-view {
    .config-menu {
        background: inherit;
    }
    .section {
        padding: 1em;
    }
    .themes-panel .control-group {
        margin-top: 1em;
    }
    .package-card,
    .config-menu .nav > li > a {
        border-radius: @component-border-radius * 2;
    }
    .package-card,
    .config-menu .nav > li > a:hover {
        box-shadow: inset .3em .1em 1em .1em rgba(255, 255, 255, @plastic-effect-strength);
    }
    .package-card {
        background-color: lighten(@base-background-color, 3%);
    }
    .table td {
        padding: 0;
        height: 1em;
    }
    .alert.alert-danger {
        color: @text-color-error;
        background-color: @background-color-error;
    }
}

.atom-dock-toggle-button .right,
.atom-dock-toggle-button .left, {
    background-color: @background-color-info;
    &:hover {
        background-color: lighten(@background-color-info, 10%);
    }
}

atom-notification {
    .close-all.btn {
        background-color: @button-background-color;
        color: @text-color !important;
    }
    .content {
        background-color: @background-color-info !important;
        color: @text-color !important;
    }
    .detail {
        background-color: lighten(@background-color-info, 3%) !important;
    }
    &.error, &.success {
         code {
             color: @text-color !important;
         }
    }
}
