
.tree-view-resizer {
    border-right: 1px solid @base-border-color;
}

.tree-view {
    font-size: .9em;

    .directory.entry.list-nested-item.expanded {

    }
    // directories having modified, deleted or new files
    .directory.entry.list-nested-item.expanded {
        .status-modified:not(.file),
        .status-deleted:not(.file),
        .status-added:not(.file) {
            color: darken(@text-color, 10%);
            > .header.list-item .name {
               color: fade(@text-color-info, 80%);
           }
        }
    }
    .file.entry.status-modified {
        color: @text-color-warning;
    }
    .file.entry.status-deleted { // never seen a deleted file, but who knows
        color: @text-color-error;
    }
    .file.entry.status-added {
        color: @text-color-success;
    }
    .status-ignored {
        opacity: .8;
    }
    .list-item {
        line-height: 1.5em !important;

        &.project-root-header .name:not(.status-ignored) {
            font-weight: bold;
            font-size: 1.3em;
        }
    }
    .list-item.selected {
        color: @text-color-selected;
    }
    .list-nested-item.selected::before,
    .list-item.selected::before {
        height: 1.5em !important;
    }
    .list-item .icon::before {
        height: auto;
        font-size: .9em;
        margin-right: 0;
    }
    .directory .header.list-item::before {
        margin-right: 0;
    }
    .has-collapsable-children .list-nested-item > .list-tree > li {
        padding-left: 1em;
        margin-left: 0;
    }

    // open files package
    .open-files {
        .open-files-item {
            &.modified {
                color: @text-color-warning;
            }
            button.close-open-file {
                margin-left: -2em;
                padding-right: 0;
            }
        }


        .list-item.open-files-title {
            font-weight: bold !important;
            font-size: 1.3em !important;
            height: 1.5em !important;
            line-height: 1.5em !important;
            padding: 0 !important;
            margin: .5em 0 0 0 !important;
            span strong {
                display: inline-block;
                text-transform: lowercase !important;
            }
            span strong:first-letter {
                text-transform: uppercase !important;
            }
        }
    }
    #foldersLabel {
        visibility: hidden;
        height: .3em !important;
        margin: 0 !important;
    }
}
